<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Cain's Jawbone</title>
        {% endif %}
    </head>
    <body>
        <div>
            <a href="{{ url_for('characters') }}">Characters</a>
        </div>
        <div>
            <a href="{{ url_for('records') }}">Delete a record</a>
        </div>
        <div>
            <a href="{{ url_for('reference_info_handler') }}">Clues</a>
        </div>
        <div>
            <a href="{{ url_for('page_info_handler') }}">Page Info</a>
        </div>
        <div>
            <a href="{{ url_for('page_order_handler') }}">Page Order</a>
        </div>      
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>