<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Cain's Jawbone</title>
        {% endif %}
    </head>
    <body>
        <div>Add or updatee a character record:
            <a href="{{ url_for('characters') }}">characters</a>
        </div>
        <div>Delete a record:
            <a href="{{ url_for('records') }}">Delete</a>
        </div>
        <div>Add or update a reference info record:
            <a href="{{ url_for('reference_info_handler') }}">reference-info</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>