ariadne
black
pytest
pytest-html
pytest-coverage
flake8
flask
flask-alembic
flask-cors
flask-marshmallow
flask-migrate
marshmallow-sqlalchemy
flask-sqlalchemy
flask-wtf
gunicorn
isort
python-json-logger
attrs
cattrs

