ariadne
black
pytest
pytest-html
pytest-coverage
flake8
flask
flask-alembic
flask-cors
flask-marshmallow
marshmallow-sqlalchemy
flask-mongoengine
flask-restful
flask-sqlalchemy
flask-wtf
gunicorn
isort
tinymongo
python-json-logger

